#waybar.top {
  background: none;
}
#waybar.top > box.horizontal {
  background: #191724;
  box-shadow: 0 0 4pt #21202e;
  border-radius: 2pt;
  margin: 0pt;
  padding: 1pt;
}

#custom-rofi {
  margin-left: 7pt;
  padding-right: 3pt;
  font-size: 12pt;
  color: #eb6f92;
}

#workspaces {
  margin-left: 12pt;
}
#workspaces button {
  color: #6e6a86;
}
#workspaces button:not(:first-child) {
  margin-left: 2pt;
}
#workspaces button.visible {
  color: #89b4fa;
}
#workspaces button.active {
  color: #e0def4;
}
#workspaces button:hover, #workspaces button:active {
  background: none;
  border-color: transparent;
  box-shadow: none;
}
#workspaces button:hover:not(.active):not(.visible), #workspaces button:active:not(.active):not(.visible) {
  color: #9399b2;
}

#mpris {
  background: #1f1d2e;
  border-radius: 12pt;
  margin-left: 15pt;
  padding: 0 8pt;
  color: #e0def4;
}

#window {
  margin-left: 5pt;
  margin-right: 20pt;
  color: #908caa;
}

#memory {
  color: #f6c177;
  margin-right: 12pt;
}

#tray {
  margin-right: 10pt;
  color: #e0def4;

}
#tray menu {
  background: #1e1e2e;
  padding: 2pt;
  color: #e0def4;
}
#tray menu * {
  margin: 2pt;
}
#tray menu check {
  margin-right: 4pt;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #cdd6f4;
  }
}

#pulseaudio {
  color: #31748f;
  margin-right: 10pt;
}



#custom-color-picker {
  margin-right: 18pt;
  font-size: 9pt;
  color: #e0def4;
}
#custom-updates {
  margin-right: 18pt;
  font-size: 9pt;
}

#custom-screenshot {
  margin-right: 18pt;
  font-size: 10pt;
  color: #e0def4;
}

#custom-wallpaper {
  margin-right: 18pt;
  font-size: 10pt;
  color: #e0def4;
}
#clock {
  margin-right: 10pt;
  color: #e0def4;
}

#custom-power {
  margin-right: 10pt;
  font-size: 10pt;
  color: #eb6f92;
}

#waybar.bottom {
  background: none;
}
#waybar.bottom box.modules-center {
  background: #181825;
  margin-top: 5pt;
  padding: 0 4pt;
  border-top-left-radius: 10pt;
  border-top-right-radius: 10pt;
  box-shadow: 0 0 3pt #181825;
}

#custom-file-manager {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/file-manager.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-terminal {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/terminal.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-zen {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/zen.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-spotify {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/spotify.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-obs-studio {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/obs-studio.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-discord {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/discord.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-telegram {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/telegram.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-whatsapp {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/whatsapp.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-darktable {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/darktable.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-adobe-photoshop {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/adobe-photoshop.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-affinity-designer {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/affinity-designer.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-affinity-photo {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/affinity-photo.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-affinity-publisher {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/affinity-publisher.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-davinci-resolve {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/davinci-resolve.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-steam {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/steam.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-heroic {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/heroic.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-ryujinx {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/ryujinx.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-lutris {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/lutris.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-obsidian {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/obsidian.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-neovim {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/neovim.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-zed {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/zed.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-vs-code {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/vs-code.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-docker {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/docker.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-wireshark {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/wireshark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-beekeeper-studio {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/beekeeper-studio.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-excalidraw {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/excalidraw.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-figma {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/figma.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-postman {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/postman.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

#custom-calculator {
  background: transparent;
  background-image: url("/home/jared/.config/waybar/icons/calculator.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28pt;
  font-size: 28pt;
  padding: 0 6pt;
  margin: 0 2pt;
}

* {
  margin: 0;
  padding: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 8.5pt;
  font-weight: 800;
  transition-property: background;
  transition-duration: 0.5s;
}

tooltip {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 5pt;
}

/*# sourceMappingURL=style.css.map */
