#!/bin/bash

# Set your API key and city ID
API_KEY= {{ (bitwardenSecrets "4c51ac95-ad28-4a85-859f-b2de007459dc" .accessToken).value }}
CITY_ID= {{ (bitwardenSecrets "9ecf10d7-7316-4ecd-b992-b2de0079bd40" .accessToken).value }}

# Make the API request to OpenWeather
response=$(curl -s "http://api.openweathermap.org/data/2.5/weather?id=${CITY_ID}&appid=${API_KEY}")

# Parse the humidity from the JSON response
humidity=$(echo $response | jq -r '.main.humidity')

# Output the humidity
echo "Current humidity: ${humidity}%"
