#!/bin/bash

# Function to fetch "feels like" temperature for a given city ID
get_feels_like_temperature() {
    city_id=$1
    API_KEY = {{ (bitwardenSecrets "4c51ac95-ad28-4a85-859f-b2de007459dc" .accessToken).value }}

    url="http://api.openweathermap.org/data/2.5/weather?id=${city_id}&appid=${API_KEY}&units=imperial"
    
    # Fetch data from API
    response=$(curl -s "$url")
    
    # Parse JSON response and extract "feels like" temperature
    feels_like_temperature=$(echo "$response" | jq -r '.main.feels_like')
    
    # Round off the temperature to the nearest integer
    rounded_temperature=$(printf "%.0f" "$feels_like_temperature")
    
    echo $rounded_temperature
}

# Main function
main() {
    city_id= {{ (bitwardenSecrets "9ecf10d7-7316-4ecd-b992-b2de0079bd40" .accessToken).value }}
    feels_like_temperature=$(get_feels_like_temperature "$city_id")
    
    if [ -n "$feels_like_temperature" ]; then
        echo "${feels_like_temperature}°F"
    else
        echo "0°F"
    fi
}

# Execute main function
main
